<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/stylesheets/app.css' />
    <title>Cheat Sheet</title>
  </head>
  <body>

    <a id='home-button' href='/'>Home</a>

    <ol>
      <li><a href='/cp'>cp</a></li>
      <li><a href='/mv'>mv</a></li>
      <li><a href='/cd'>cd</a></li>
      <li><a href='/mkdir'>mkdir</a></li>
      <li><a href='/touch'>touch</a></li>
      <li><a href='/search'>Search</a></li>
    </ol>

  <div class="pic">
    <img class="comppic" src='images/comp.jpg' alt='computer' />
  </div>

  <%= yield %>
  </body>
  </html>
