<h1>SEARCH</h1>
<hr />
<h3>What man page are you looking for?</h3>


<form method='POST' action='/search'>
  <label>Search</label>
  <input type='text' name='user_search' required />
  <input type='submit' />
</form>
